{% assign img_src = product.featured_image %}

<product-card
  class="product-card"
  selected-variant="{{ product.selected_or_first_available_variant.id }}"
  enable-add-cart="{{ settings.product_card_quick_add }}"
>
  <section class="product-card--image">
    <a href="{{ product.url }}">
      {% render 'render-image', src: img_src, lazy: true %}
    </a>
  </section>

  <section class="product-card--title">
    <a href="{{ product.url }}">
      <h3>{{ product.title }}</h3>
    </a>
  </section>

  {% if settings.product_card_description %}
    <section class="product-card--description">
      {{ product.description }}
    </section>
  {% endif %}

  {% if settings.product_card_price %}
    {% render 'product-price', custom_class: 'product-card--price', product: product %}
  {% endif %}

  {% if settings.product_card_variants_selector %}
    <section class="product-card--variants">
      <form action="/add-cart" class="product-add-form">
        {% render 'product-variants', product: product, type: 'product-card' %}

        {% if settings.product_card_quick_add %}
          {% assign button_text = 'products.product.add_to_cart' | t %}

          {% render 'button', style: 'primary', type: 'submit', content: button_text %}
        {% endif %}
      </form>
    </section>
  {% endif %}
</product-card>
