{% comment %}
  Variables:
  - loop: true | false
  - direction: "vertical" | "horizontal"
  - sliders-per-page: Number
  - sliders-per-page-mobile: Number
  - autoplay: true | false
  - delay: Number
  - pagination: true | false
  - navigation: true | false
  - custom_class: String
  - sliders : HTML

  Use:
  {% render 'slider'
    direction: "horizontal"
    loop: false
    sliders_per_page: 4
    sliders_per_page_mobile: 2
    autoplay: true
    delay: 5
    pagination: true
    navigation: true
    sliders: sliders
  %}

  IMPORTANT!!
  We should define slides with this structure:

  <div class="swiper-slide">
    ... childrens here
  </div>
  <div class="swiper-slide">
    ... childrens here
  </div>
  <div class="swiper-slide">
    ... childrens here
  </div>
  ...
{% endcomment %}

{% liquid
  if pagination == blank
    assign pagination = false
  endif

  if navigation == blank
    assign navigation = true
  endif
%}

<carousel-slider 
  class="swiper {{ custom_class }} {% if pagination == true %}pagination{% endif %}"
  loop="{{ loop | default: false }}"
  direction="{{ direction | default: 'horizontal' }}"
  sliders-per-page="{{ sliders_per_page | default: 'auto' }}"
  sliders-per-page-mobile="{{ sliders_per_page_mobile | default: 'auto' }}"
  autoplay="{{ autoplay | default: false }}"
  delay="{{ delay | default: 5 }}"
>
  <div class="swiper-wrapper">
    {% if sliders != blank %}
      {{ sliders }}
    {% else %}
      <div class="swiper-slide">Slide 1</div>
      <div class="swiper-slide">Slide 2</div>
      <div class="swiper-slide">Slide 3</div>
      <div class="swiper-slide">Slide 4</div>
      <div class="swiper-slide">Slide 5</div>
      <div class="swiper-slide">Slide 6</div>
    {% endif %}
  </div>

  {% if pagination == true %}
    <div class="swiper-pagination"></div>
  {% endif %}

  {% if navigation == true %}
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  {% endif %}
</carousel-slider>