{{ 'section.image-text.css' | asset_url | stylesheet_tag }}

{% liquid
  assign img_src = section.settings.image | image_url
  assign ptop = section.settings.padding_top
  assign pbutton = section.settings.padding_button
  assign pleft = section.settings.padding_left
  assign pright = section.settings.padding_right
%}

{% style %}
  .section-image-text-{{ section.id }} {
    padding: {{ ptop }}px {{ pright }}px {{ pbutton }}px {{ pleft }}px;
  }
{% endstyle %}

<article class="section-image-text {{ section.settings.image_position }}  section-image-text-{{ section.id }}">
  <div class="section-image-text--content {{ section.settings.text_position }}">
    {% if section.settings.title != blank %}
      <h2> {{ section.settings.title }} </h2>
    {% endif %}
  
    {% if section.settings.content != blank %}
      <p> {{ section.settings.content }} </p>
    {% endif %}
  
    {% if section.settings.cta_text != blank %}
      {% render 'link'
        style: section.settings.cta_style
        content: section.settings.cta_text
        href: section.settings.cta_url
      %}
    {% endif %}
  </div>

  <div class="section-image-text-img">
    {% render 'render-image'
      src: img_src
    %}
  </div>
</article>

{% schema %}
{
  "name": "Image with text",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "Text settings"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Section title"
    },
    {
      "type": "textarea",
      "id": "content",
      "label": "Section content"
    },
    {
      "type": "text",
      "id": "cta_text",
      "label": "CTA text"
    },
    {
      "type": "select",
      "id": "cta_style",
      "label": "Button style",
      "options": [
        {
          "value": "primary",
          "label": "Primary"
        },
        {
          "value": "secondary",
          "label": "Secondary"
        }
      ],
      "default": "primary"
    },
    {
      "type": "url",
      "id": "cta_url",
      "label": "CTA url"
    },
    {
      "type": "select",
      "id": "text_position",
      "label": "Text position",
      "options": [
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left"
    },
    {
      "type": "header",
      "content": "Image settings"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Section image"
    },
    {
      "type": "select",
      "id": "image_position",
      "label": "Image position",
      "options": [
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "right"
    },
    {
      "type": "header",
      "content": "Paddings"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_button",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding button",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_left",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding left",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_right",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding right",
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "Image with text"
    }
  ]
}
{% endschema %}
