{{ 'section.paragraph.css' | asset_url | stylesheet_tag }}

{% liquid
  assign cta_style = section.settings.cta_style
  assign ptop = section.settings.padding_top
  assign pbutton = section.settings.padding_button
  assign pleft = section.settings.padding_left
  assign pright = section.settings.padding_right
%}

{% style %}
  .section-paragraph-container-{{ section.id }} {
    padding: {{ ptop }}px {{ pright }}px {{ pbutton }}px {{ pleft }}px;
  }
{% endstyle %}

<article class="section-paragraph-container {{ section.settings.position }}  section-paragraph-container-{{ section.id }}">
  {% if section.settings.title != blank %}
    <h2> {{ section.settings.title }} </h2>
  {% endif %}

  {% if section.settings.content %}
    <p> {{ section.settings.content }} </p>
  {% endif %}

  {% if section.settings.cta_text %}
    {% render 'link'
      style: cta_style
      href: section.settings.cta_url
      content: section.settings.cta_text
    %}
  {% endif %}
</article>

{% schema %}
{
  "name": "Paragraph",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Section title"
    },
    {
      "type": "textarea",
      "id": "content",
      "label": "Section content"
    },
    {
      "type": "text",
      "id": "cta_text",
      "label": "CTA text"
    },
    {
      "type": "select",
      "id": "cta_style",
      "label": "Button style",
      "options": [
        {
          "value": "primary",
          "label": "Primary"
        },
        {
          "value": "secondary",
          "label": "Secondary"
        }
      ],
      "default": "primary"
    },
    {
      "type": "url",
      "id": "cta_url",
      "label": "CTA url"
    },
    {
      "type": "select",
      "id": "position",
      "label": "Text position",
      "options": [
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_button",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding button",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_left",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding left",
      "default": 50
    },
    {
      "type": "range",
      "id": "padding_right",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding right",
      "default": 50
    }
  ],
  "presets": [
    {
      "name": "Paragraph"
    }
  ]
}
{% endschema %}
